'context-menu':
  'atom-text-editor': [
    {
      'label': 'ASCII -> Homoglyphs'
      'command': 'mayhem:boom'
    }
    {
      'label': 'Homoglyphs -> ASCII'
      'command': 'mayhem:fix'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Mayhem'
      'submenu': [
        {
          'label': 'ASCII -> Homoglyphs'
          'command': 'mayhem:boom'
        }
        {
          'label': 'Homoglyphs -> ASCII'
          'command': 'mayhem:fix'
        }
      ]
    ]
  }
]
